
.i-amphtml-story-desktop-fullbleed .i-amphtml-cta-container {
  /* Ad will be 75vh, align bottom of container to bottom of ad, but responsive */
  bottom: min(12.5vh, 100px) !important;
  /* Adjusted top to keep consistent proportions */
  top: calc(100% - clamp(500px, 75vh, 900px)) !important;
}

.i-amphtml-glass-pane {
  height: 100% !important;
  width: 100% !important;
  z-index: 1 !important;
  pointer-events: auto !important;
}

amp-story-page[xdomain-ad] .i-amphtml-glass-pane {
  height: 80% !important;
}

amp-story-page amp-ad iframe {
  width: 100%;
  height: 100%;
}

/* TODO(ccordry): refactor centering logic in amp-ad.css and remove this hack. */
amp-story-page amp-ad[data-a4a-upgrade-type='amp-ad-network-doubleclick-impl'],
amp-story-page amp-ad[type='adsense'] {
  top: 0 !important;
  left: 0 !important;
  transform: translate(0) !important;
}

/* TODO(ccordry) allow advertisers to opt-in to fullscreen ads. */
.i-amphtml-story-desktop-fullbleed
  amp-story-grid-layer[template="fill"]
  > amp-ad {
  left: 50% !important;
  right: auto !important;
  margin: auto !important;

  /* Responsive ad scaling */
  min-height: clamp(500px, 75vh, 900px) !important;
  max-height: clamp(500px, 75vh, 900px) !important;
  min-width: clamp(300px, calc(3 / 5 * 75vh), 600px) !important;
  max-width: clamp(300px, calc(3 / 5 * 75vh), 600px) !important;

  transform: translateX(-50%) !important;
}

/* If experiment `story-ad-allow-fullbleed` is enabled, show fullbleed ads */
.i-amphtml-story-desktop-fullbleed
  .i-amphtml-fullbleed-ad
  amp-story-grid-layer[template="fill"]
  > amp-ad {
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;

  /* Added font scaling for better readability on large displays */
  font-size: clamp(14px, 1.2vw, 24px);
}

.i-amphtml-story-desktop-fullbleed .i-amphtml-fullbleed-ad iframe {
  width: 100% !important;
  height: 100% !important;
}

.i-amphtml-story-desktop-fullbleed
  .i-amphtml-fullbleed-ad
  .i-amphtml-cta-container {
  bottom: 0 !important;
  top: 0 !important;

  /* Responsive text size for CTA on large resolutions */
  font-size: clamp(14px, 1vw, 20px);
}
